.header{
    background-color: rgb(18, 18, 36);
}
.header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    font-weight: bold;
}
.cart{
    cursor: pointer;
}
.icon{
    font-size: 2rem;
    padding-top: 10px;
}

sup{
    border: 2px solid white;
    padding: 2px;
    border-radius: 50px;
    margin-left: 3px;
}